body {
	padding-top: 2rem;
}

.releases h3 {
	border-bottom: .0625rem solid rgba(0,0,0,.1);
	margin-bottom: 1rem;
	padding-bottom: 1rem;
}

.footer {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	background-color: rgba(0,0,0,.1);
}

.footer p {
	margin-bottom: .2rem;
}
