body {
	padding-top: 0px;
}

nav.navbar {
	margin-bottom: 30px;
}

.docs h2 {
	border-bottom: .0625rem solid rgba(0,0,0,.1);
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	color: #0275d8;
}

.docs h3 {
	border-bottom: .0625rem solid rgba(0,0,0,.1);
	margin-bottom: .5rem;
	padding-bottom: .5rem;
}