# Auto detect text files and perform LF normalization
* text=auto

# Static site
*.html text
*.sass text
*.css text
*.js text

# Images should be treated as binary
# (binary is a macro for -text -diff)
*.png binary
*.jpg binary
*.jpeg binary